<table class="content-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Last</th>
            <th>Buy/Sell Price</th>
            <th>Volume</th>
            <th>Base_unit</th>
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            <td>{{@index}}</td>
            <td>{{name}}</td>
            <td>₹{{last}}</td>
            <td>₹{{buy}}/{{sell}}</td>
            <td>{{volume}}</td>
            <td>{{base_unit}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>